.tuote {
  font-weight: 400;
  margin-top: 20px;
  line-height: 16px;
}

.valmistaja
{
  color: #565959;
  font-size: 14px;
  line-height: 20px;
  margin-top: -2px;
}

.product
{
  width: 30%;
  box-sizing: border-box;
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.image {
  width: 200px;
  height: 200px;
}

.iconStars {
  background-image: url('/src/icons.png');
  background-size: 512px 256px;
  background-position-x: -84px;
  background-position-y: -28px;
  width: 80px;
  height: 18px;
  margin-right: 10px;
}

.flex {
  padding-top: 4px;
  display: flex;
  align-items: center;
}

.blue {
  margin-left: 8px;
  color: #007185;
  font-size: 15px;
  line-height: 16px;
}

.hinta {
  margin-top: 8px;
}

.dollari {
  font-size: 12px;
  position: relative;
  top: -.1cm;
}