.container {
    border-top: 1px solid;
    border-bottom: 1px solid gray;
    margin-top: 20px;
    background-color: white;
}

.textcont {
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.header {
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.15;
    margin-bottom: 10px;
}

.image {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.imageText {
    margin-top: 15px;
    font-size: 1.625rem;
    font-weight: 700;
    line-height: 1.26;
}

.bluetext {
    color: rgb(0, 81, 141);
    font-weight: 700;
}

.infoClock {
    margin-top: 20px;
    padding-bottom: 20px;
    display: flex;
    line-height: 1;
    height: 16px;
    font-size: 0.9375rem;
    font-weight: 400;
    color: rgb(72, 72, 72);
    border-bottom: 1px solid rgb(72, 72, 72);
}