.shoppingList
{
  border: 1px black solid;
  width: 400px;
  padding-left: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.button {
  margin-right: auto;
  margin-left: auto;
}